.button {
    font-size: 0.75rem;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    background-color: white;
    color: rgba(160, 160, 160);
    cursor: pointer;
    transition:
        color 0.3s,
        border-color 0.3s,
        box-shadow 0.3s;
    border: 1px solid rgba(160, 160, 160);
    height: var(--font-size-xl);
}

.button:hover {
    border-color: #2ebaae;
    color: #2ebaae;
}

.button:active {
    background-color: rgb(238, 230, 230);
}

.button.disabled {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
    pointer-events: none;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clear:hover,
.clear:focus,
.clear:active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
