.header {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
    transition:
        height 0.3s,
        background-color 0.3s;
}

.nav,
.actions {
    display: flex;
    gap: 1rem;
}

.header.scrolled {
    height: var(--header-height-scrolled);
}
