@import "reset.css";
@import "variables.css";
@import "dark-theme.css";

@font-face {
    font-family: Consolas;
    src: local("Consolas"), url("./fonts/Consolas.ttf");
}

main {
    margin-top: 4rem;
    background-color: var(--background-color);
}
